{{ $logo_light := resources.Get "images/logo.light.svg" }}
{{ $logo_dark := resources.Get "images/logo.dark.svg" }}

[id="logo"] {
		width: 115px;
		height: 80px;
		margin-top: 10px;
}

@media (prefers-color-scheme: dark) {
	[id="logo"] {
		background-image: url("{{ $logo_light.RelPermalink }}");
	} 
}

@media (prefers-color-scheme: light) {
	[id="logo"] {
		background-image: url("{{ $logo_dark.RelPermalink }}");
	} 
}

