[id="logo"] {
		width: 115px;
		height: 80px;
		margin-top: 10px;
}

@media (prefers-color-scheme: dark) {
	[id="logo"] {
		background-image: url("/images/logo.light.svg");
	} 
}

@media (prefers-color-scheme: light) {
	[id="logo"] {
		background-image: url("/images/logo.dark.svg");
	} 
}

